---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
		<Navigation />

    <h1>我的 Astro 网站</h1>

		<Footer />
  </body>
</html>
